# EDA Aves en Peligro de extinción

Análisis de datos sobre aves en peligro de extinción en España, así como exploración de datos sobre planes de protección y acción de cada CCAA. Se buscaran patrones y visualizaciones de estos datos con el fin de crear un mapa visual e interactivo de fácil acceso para visualizar la situación de las aves y sus planes en España.

In [9]:
#IMportamos librerias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

In [3]:
#Se lee pagina del catalogo de aves
aves = pd.read_excel('Catalogacion_Especies_Aves_y_Planes_accion_12-2022.xlsx', sheet_name = 'Catálogos' )
aves

,FAMILIA,Especie_Nombre_científico,subespecie,Especie_Castellano,Ordenación_taxonómica,NOMBRE COMÚN,NOMBRE CIENTÍFICO,LR2004 (*Canarias),LISTA ROJA 2021 Invern./Migrat.,LISTA ROJA 2021 Reproductoras (*Canarias),...,NAV,RIO,VAL,EUROPEAN IUCN RED LIST BIRDS (2015),EUROPEAN IUCN RED LIST BIRDS (2021),GLOBAL UICN RED LIST (consulta 2022),GLOBAL UICN RED LIST (LAST ASSESSED),CON_BERN,CON_BONN,CON_CITES
0,MEROPIDAE,Merops apiaster,NaN,Abejaruco europeo,490.0,Abejaruco europeo,Merops apiaster,NE,NaN,LC,...,NaN,NaN,NaN,LC,LC,LC,2016.0,II,II,NaN
1,ACCIPITRIDAE,Pernis apivorus,NaN,Abejero europeo,174.0,Abejero europeo,Pernis apivorus,LC,NaN,NT,...,DIE,NaN,NaN,LC,LC,LC,2021.0,II,II,C1
2,UPUPIDAE,Upupa epops,epops,Abubilla común,491.0,Abubilla común,Upupa epops,NE,NaN,LC,...,NaN,NaN,NaN,LC,LC,LC,2020.0,II,NaN,NaN
3,PRUNELLIDAE,Prunella collaris,collaris,Acentor alpino,784.0,Acentor alpino,Prunella collaris,NE,NaN,NT,...,DIE,NaN,NaN,LC,LC,LC,2016.0,II,NaN,NaN
4,PRUNELLIDAE,Prunella modularis,"modularis, mabbotti",Acentor común,785.0,Acentor común,Prunella modularis,NE,NaN,LC,...,NaN,NaN,NaN,LC,LC,LC,2018.0,II,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,TURDIDAE,Turdus iliacus,"coburni, iliacus",Zorzal alirrojo,726.0,Zorzal alirrojo,Turdus iliacus,NE,DD,NaN,...,NaN,NaN,NaN,NT,LC,NT,2016.0,III,NaN,NaN
380,TURDIDAE,Turdus viscivorus,viscivorus,Zorzal charlo,730.0,Zorzal charlo,Turdus viscivorus,NE,NaN,LC,...,NaN,NaN,NaN,LC,LC,LC,2016.0,III,NaN,NaN
381,TURDIDAE,Turdus philomelos,"philomelos, clarkei",Zorzal común,728.0,Zorzal común,Turdus philomelos,NE,NaN,LC,...,NaN,NaN,NaN,LC,LC,LC,2018.0,III,NaN,NaN
382,TURDIDAE,Turdus pilaris,NaN,Zorzal real,725.0,Zorzal real,Turdus pilaris,NE,DD,NaN,...,NaN,NaN,NaN,LC,LC,LC,2016.0,III,NaN,NaN
383,PHYLLOSCOPIDAE,NaN,NaN,NaN,642.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Informacion de la pagina en el dataset
aves.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 36 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   FAMILIA                                    370 non-null    object
 1   Especie_Nombre_científico                  357 non-null    object
 2   subespecie                                 221 non-null    object
 3   Especie_Castellano                         357 non-null    object
 4   Ordenación_taxonómica                      371 non-null    float64
 5   NOMBRE COMÚN                               383 non-null    object
 6   NOMBRE CIENTÍFICO                          383 non-null    object
 7   LR2004 (*Canarias)                         381 non-null    object
 8   LISTA ROJA 2021 Invern./Migrat.            128 non-null    object
 9   LISTA ROJA 2021 Reproductoras (*Canarias)  299 non-null    object
 10  CEEA y LESRPE                              289 non-null    object
 11  D. Aves                                    200 non-null    object
 12  AND                                        272 non-null    object
 13  ARA                                        37 non-null     object
 14  AST                                        11 non-null     object
 15  BAL                                        198 non-null    object
 16  CANA                                       61 non-null     object
 17  CANT                                       11 non-null     object
 18  CAT                                        272 non-null    object
 19  CLM                                        211 non-null    object
 20  CYL                                        0 non-null      float64
 21  EUSK                                       94 non-null     object
 22  EXT                                        217 non-null    object
 23  GAL                                        30 non-null     object
 24  MAD                                        61 non-null     object
 25  MUR                                        42 non-null     object
 26  NAV                                        87 non-null     object
 27  RIO                                        3 non-null      object
 28  VAL                                        42 non-null     object
 29  EUROPEAN IUCN RED LIST BIRDS (2015)        360 non-null    object
 30  EUROPEAN IUCN RED LIST BIRDS (2021)        372 non-null    object
 31  GLOBAL UICN RED LIST (consulta 2022)       372 non-null    object
 32  GLOBAL UICN RED LIST (LAST ASSESSED)       372 non-null    float64
 33  CON_BERN                                   350 non-null    object
 34  CON_BONN                                   157 non-null    object
 35  CON_CITES                                  42 non-null     object
dtypes: float64(3), object(33)
memory usage: 108.1+ KB

In [7]:
#Eliminamos ultimo registro que no contiene informacion
aves.drop(axis=0, index=383, inplace=True)
aves.tail()

,FAMILIA,Especie_Nombre_científico,subespecie,Especie_Castellano,Ordenación_taxonómica,NOMBRE COMÚN,NOMBRE CIENTÍFICO,LR2004 (*Canarias),LISTA ROJA 2021 Invern./Migrat.,LISTA ROJA 2021 Reproductoras (*Canarias),...,NAV,RIO,VAL,EUROPEAN IUCN RED LIST BIRDS (2015),EUROPEAN IUCN RED LIST BIRDS (2021),GLOBAL UICN RED LIST (consulta 2022),GLOBAL UICN RED LIST (LAST ASSESSED),CON_BERN,CON_BONN,CON_CITES
378,ACROCEPHALIDAE,Hippolais polyglotta,NaN,Zarcero políglota,661.0,Zarcero políglota,Hippolais polyglotta,NE,NaN,LC,...,NaN,NaN,NaN,LC,LC,LC,2016.0,II,II,NaN
379,TURDIDAE,Turdus iliacus,"coburni, iliacus",Zorzal alirrojo,726.0,Zorzal alirrojo,Turdus iliacus,NE,DD,NaN,...,NaN,NaN,NaN,NT,LC,NT,2016.0,III,NaN,NaN
380,TURDIDAE,Turdus viscivorus,viscivorus,Zorzal charlo,730.0,Zorzal charlo,Turdus viscivorus,NE,NaN,LC,...,NaN,NaN,NaN,LC,LC,LC,2016.0,III,NaN,NaN
381,TURDIDAE,Turdus philomelos,"philomelos, clarkei",Zorzal común,728.0,Zorzal común,Turdus philomelos,NE,NaN,LC,...,NaN,NaN,NaN,LC,LC,LC,2018.0,III,NaN,NaN
382,TURDIDAE,Turdus pilaris,NaN,Zorzal real,725.0,Zorzal real,Turdus pilaris,NE,DD,NaN,...,NaN,NaN,NaN,LC,LC,LC,2016.0,III,NaN,NaN

In [11]:
aves['LR2004 (*Canarias)'].value_counts()

NE            241
VU             40
NT             24
EN             21
DD             12
CR             12
LC              9
RE              4
NE/VU*          3
NE/EN*          2
NT/EN*          2
EN/VU           2
EN*/EX*         1
NE/DD*/EN*      1
EX              1
NE/DD*          1
EN/NT*          1
NE/NT*          1
EN/CR*          1
NT/DD*          1
NT-EN/CR        1
Name: LR2004 (*Canarias), dtype: int64

- Hay mayoría de aves en peligro de extinción, la segunda categoría mayoritaria es Vulnerables. En Canarias(2004)

In [10]:
#planes = pd.read_excel('Catalogacion_Especies_Aves_y_Planes_accion_12-2022.xlsx', sheet_name = 'SPS-Planes' )
#planes