# EDA Aves en Peligro de extinción

Análisis de datos sobre aves en peligro de extinción en España, así como exploración de datos sobre planes de protección y acción de cada CCAA. Se buscaran patrones y visualizaciones de estos datos con el fin de crear un mapa visual e interactivo de fácil acceso para visualizar la situación de las aves y sus planes en España.

In [264]:
#IMportamos librerias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

## Exploración básica del dataset --> Pagina Catalogos

Estas son las variables por entrada que contiene este dataset:

- **FAMILIA:**  Unidad sistematica y categorica taxonomica de las aves.
- **Especie_Nombre_científico:**    Nombre cientifico de la especie a la que se pertenece.
- **Subespecie:**   Grupo en el que se dividen las especies
- **Espacie_Castellano:**   Nombre en castellano de la especie a la que se pertenece.
- **Ordenación_taxonomica:**    Cada grupo en el que se dividen los organismos emparentados. 
- **NOMBRE COMUN:**  Nombre del ave
- **NOMBRE CIENTIFICO:**    Nombre cientifico de las ave
- **LR2004 (*Canarias):**   Libro Rojo de las Aves de España en el año 2004 de Canarias
- **LISTA ROJA 2021 Invern./Migrat.:**  Amenazas a las aves migratorias en el año 2021
- **LISTA ROJA 2021 Reproductoras (*Canarias):** Amenazas a las aves reproductoras en el año 2021 en Canarias
- **CEEA y LESRPE:**    Amenazas a nivel nacional
- **D. Aves:**   Documento para la conservación de Aves de la Union Europea.
- **EUROPEAN IUCN RED LIST BIRDS (2015):** Lista roja europea de la International Union for the Conservation of Nature (IUCN) del año 2015
- **EUROPEAN IUCN RED LIST BIRDS (2021):** Lista roja europea de la International Union for the Conservation of Nature (IUCN) del año 2021
- **GLOBAL UICN RED LIST (consulta 2022):** Lista roja global del International Union for the Conservation of Nature (IUCN) del año 2022
- **GLOBAL UICN RED LIST (LAST ASSESSED):** ULtima revision de la lista roja global por la International Union for the Conservation of Nature (IUCN) 
- **CON_BERN:** Bern Convention
- **CON_BONN:** Convencion en la conservacion de especies migratorias de especies salvajes. Es un tratado global de las Naciones Unidas.
- **CON_CITES:** Convención sobre el Comercio Internacional de Especies Amenazadas de Fauna y Flora Silvestres

## Exploración básica del dataset --> Pagina SPS-Planes

Estas son las variables por entrada que contiene este dataset:

- **NOMBRE COMUN:**  Nombre del ave
- **NOMBRE CIENTIFICO:**    Nombre cientifico de las ave
- **ESTRATEGIA ESTATAL:** Plan de accion nacional
- **Planes Acción Comisión Europea:** Planes a nivel europeo
- **Planes Acción AEWA:** Acuerdo de conservacion de las aves acuaticas migratorias afroeurasiaticas 
- **Planes Manejo Especies Cinegéticas Comisión Europea:** Plan europeo para la proteccion de animales que pueden ser objeto de caza.

| CCAA                | Nombre Completo                                                                                   | 
|---------------------|---------------------------------------------------------------------------------------------------|
| `AND`               | Catálogo Andaluz de Especies Amenazadas                                                           | 
| `ARA`               | Catálogo de Especies Amenazadas de Aragón                                                         | 
| `AST`               | Catálogo Regional de especies amenazadas de fauna vertebrada del Pincipado de Asturias            | 
| `BAL`               | Catálogo Balear de Especies Amenazadas y de Especial Protección                                   | 
| `CANA`              | Catálogo Canario de Especies Protegidas                                                           |     
| `CANT`              | Catálogo Regional de Especies Amenazadas de Cantabria                                             | 
| `CAT`               | Catálogo de la Fauna Amenazada de Cataluña                                                        | 
| `CLM`               | Catálogo Regional de Especies Amenazadas de Castilla-La Mancha                                    | 
| `CYL`               | Catálogo Especies Amenazadas de Castilla y León                                                   | 
| `EUSK`              | Catálogo Vasco de Especies Amenazadas la la Fauna y Flora Silvestre y Marina                      | 
| `EXT`               | Catálogo Regional de Especies Amenazadas de Extremadura                                           | 
| `GAL`               | Catálogo galego de especies amenazadas                                                            | 
| `MAD`               | Catálogo Regional de especies amenazadas de fauna y flora silvestres                              | 
| `MUR`               | Catálogo de especies amenazadas de fauna silvestre de la Región de Murcia                         | 
| `NAV`               | Catálogo de Especies Amenazadas de Navarra                                                        | 
| `RIO`               | Catálogo de La Rioja de Especies de Fauna                                                         | 
| `VAL`               | Catálogo Valenciano de Especies de Fauna Amenazada                                                |

In [265]:
#Se lee pagina del catalogo de aves
aves = pd.read_excel('./data_raw/Catalogacion_Especies_Aves_y_Planes_accion_12-2022.xlsx', sheet_name = 'Catálogos' )
aves

,FAMILIA,Especie_Nombre_científico,subespecie,Especie_Castellano,Ordenación_taxonómica,NOMBRE COMÚN,NOMBRE CIENTÍFICO,LR2004 (*Canarias),LISTA ROJA 2021 Invern./Migrat.,LISTA ROJA 2021 Reproductoras (*Canarias),...,NAV,RIO,VAL,EUROPEAN IUCN RED LIST BIRDS (2015),EUROPEAN IUCN RED LIST BIRDS (2021),GLOBAL UICN RED LIST (consulta 2022),GLOBAL UICN RED LIST (LAST ASSESSED),CON_BERN,CON_BONN,CON_CITES
0,MEROPIDAE,Merops apiaster,NaN,Abejaruco europeo,490.0,Abejaruco europeo,Merops apiaster,NE,NaN,LC,...,NaN,NaN,NaN,LC,LC,LC,2016.0,II,II,NaN
1,ACCIPITRIDAE,Pernis apivorus,NaN,Abejero europeo,174.0,Abejero europeo,Pernis apivorus,LC,NaN,NT,...,DIE,NaN,NaN,LC,LC,LC,2021.0,II,II,C1
2,UPUPIDAE,Upupa epops,epops,Abubilla común,491.0,Abubilla común,Upupa epops,NE,NaN,LC,...,NaN,NaN,NaN,LC,LC,LC,2020.0,II,NaN,NaN
3,PRUNELLIDAE,Prunella collaris,collaris,Acentor alpino,784.0,Acentor alpino,Prunella collaris,NE,NaN,NT,...,DIE,NaN,NaN,LC,LC,LC,2016.0,II,NaN,NaN
4,PRUNELLIDAE,Prunella modularis,"modularis, mabbotti",Acentor común,785.0,Acentor común,Prunella modularis,NE,NaN,LC,...,NaN,NaN,NaN,LC,LC,LC,2018.0,II,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,TURDIDAE,Turdus iliacus,"coburni, iliacus",Zorzal alirrojo,726.0,Zorzal alirrojo,Turdus iliacus,NE,DD,NaN,...,NaN,NaN,NaN,NT,LC,NT,2016.0,III,NaN,NaN
380,TURDIDAE,Turdus viscivorus,viscivorus,Zorzal charlo,730.0,Zorzal charlo,Turdus viscivorus,NE,NaN,LC,...,NaN,NaN,NaN,LC,LC,LC,2016.0,III,NaN,NaN
381,TURDIDAE,Turdus philomelos,"philomelos, clarkei",Zorzal común,728.0,Zorzal común,Turdus philomelos,NE,NaN,LC,...,NaN,NaN,NaN,LC,LC,LC,2018.0,III,NaN,NaN
382,TURDIDAE,Turdus pilaris,NaN,Zorzal real,725.0,Zorzal real,Turdus pilaris,NE,DD,NaN,...,NaN,NaN,NaN,LC,LC,LC,2016.0,III,NaN,NaN
383,PHYLLOSCOPIDAE,NaN,NaN,NaN,642.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [266]:
#Informacion de la pagina en el dataset
aves.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 36 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   FAMILIA                                    370 non-null    object
 1   Especie_Nombre_científico                  357 non-null    object
 2   subespecie                                 221 non-null    object
 3   Especie_Castellano                         357 non-null    object
 4   Ordenación_taxonómica                      371 non-null    float64
 5   NOMBRE COMÚN                               383 non-null    object
 6   NOMBRE CIENTÍFICO                          383 non-null    object
 7   LR2004 (*Canarias)                         381 non-null    object
 8   LISTA ROJA 2021 Invern./Migrat.            128 non-null    object
 9   LISTA ROJA 2021 Reproductoras (*Canarias)  299 non-null    object
 10  CEEA y LESRPE                              289 non-null    object
 11  D. Aves                                    200 non-null    object
 12  AND                                        272 non-null    object
 13  ARA                                        37 non-null     object
 14  AST                                        11 non-null     object
 15  BAL                                        198 non-null    object
 16  CANA                                       61 non-null     object
 17  CANT                                       11 non-null     object
 18  CAT                                        272 non-null    object
 19  CLM                                        211 non-null    object
 20  CYL                                        0 non-null      float64
 21  EUSK                                       94 non-null     object
 22  EXT                                        217 non-null    object
 23  GAL                                        30 non-null     object
 24  MAD                                        61 non-null     object
 25  MUR                                        42 non-null     object
 26  NAV                                        87 non-null     object
 27  RIO                                        3 non-null      object
 28  VAL                                        42 non-null     object
 29  EUROPEAN IUCN RED LIST BIRDS (2015)        360 non-null    object
 30  EUROPEAN IUCN RED LIST BIRDS (2021)        372 non-null    object
 31  GLOBAL UICN RED LIST (consulta 2022)       372 non-null    object
 32  GLOBAL UICN RED LIST (LAST ASSESSED)       372 non-null    float64
 33  CON_BERN                                   350 non-null    object
 34  CON_BONN                                   157 non-null    object
 35  CON_CITES                                  42 non-null     object
dtypes: float64(3), object(33)
memory usage: 108.1+ KB

In [267]:
#Eliminamos ultimo registro que no contiene informacion
aves.drop(axis=0, index=383, inplace=True)
aves.tail()

,FAMILIA,Especie_Nombre_científico,subespecie,Especie_Castellano,Ordenación_taxonómica,NOMBRE COMÚN,NOMBRE CIENTÍFICO,LR2004 (*Canarias),LISTA ROJA 2021 Invern./Migrat.,LISTA ROJA 2021 Reproductoras (*Canarias),...,NAV,RIO,VAL,EUROPEAN IUCN RED LIST BIRDS (2015),EUROPEAN IUCN RED LIST BIRDS (2021),GLOBAL UICN RED LIST (consulta 2022),GLOBAL UICN RED LIST (LAST ASSESSED),CON_BERN,CON_BONN,CON_CITES
378,ACROCEPHALIDAE,Hippolais polyglotta,NaN,Zarcero políglota,661.0,Zarcero políglota,Hippolais polyglotta,NE,NaN,LC,...,NaN,NaN,NaN,LC,LC,LC,2016.0,II,II,NaN
379,TURDIDAE,Turdus iliacus,"coburni, iliacus",Zorzal alirrojo,726.0,Zorzal alirrojo,Turdus iliacus,NE,DD,NaN,...,NaN,NaN,NaN,NT,LC,NT,2016.0,III,NaN,NaN
380,TURDIDAE,Turdus viscivorus,viscivorus,Zorzal charlo,730.0,Zorzal charlo,Turdus viscivorus,NE,NaN,LC,...,NaN,NaN,NaN,LC,LC,LC,2016.0,III,NaN,NaN
381,TURDIDAE,Turdus philomelos,"philomelos, clarkei",Zorzal común,728.0,Zorzal común,Turdus philomelos,NE,NaN,LC,...,NaN,NaN,NaN,LC,LC,LC,2018.0,III,NaN,NaN
382,TURDIDAE,Turdus pilaris,NaN,Zorzal real,725.0,Zorzal real,Turdus pilaris,NE,DD,NaN,...,NaN,NaN,NaN,LC,LC,LC,2016.0,III,NaN,NaN

In [268]:
aves['LR2004 (*Canarias)'].value_counts()

NE            241
VU             40
NT             24
EN             21
DD             12
CR             12
LC              9
RE              4
NE/VU*          3
NE/EN*          2
NT/EN*          2
EN/VU           2
EN*/EX*         1
NE/DD*/EN*      1
EX              1
NE/DD*          1
EN/NT*          1
NE/NT*          1
EN/CR*          1
NT/DD*          1
NT-EN/CR        1
Name: LR2004 (*Canarias), dtype: int64

- Hay mayoría de aves en peligro de extinción, la segunda categoría mayoritaria es Vulnerables. En Canarias(2004)

In [269]:
#planes = pd.read_excel('Catalogacion_Especies_Aves_y_Planes_accion_12-2022.xlsx', sheet_name = 'SPS-Planes' )
#planes

In [270]:
print(aves.columns.values)

['FAMILIA' 'Especie_Nombre_científico' 'subespecie' 'Especie_Castellano'
 'Ordenación_taxonómica' 'NOMBRE COMÚN' 'NOMBRE CIENTÍFICO'
 'LR2004 (*Canarias)' 'LISTA ROJA 2021 Invern./Migrat.'
 'LISTA ROJA 2021 Reproductoras (*Canarias)' 'CEEA y LESRPE' 'D. Aves'
 'AND' 'ARA' 'AST' 'BAL' 'CANA' 'CANT' 'CAT' 'CLM' 'CYL' 'EUSK' 'EXT'
 'GAL' 'MAD' 'MUR' 'NAV' 'RIO' 'VAL' 'EUROPEAN IUCN RED LIST BIRDS (2015)'
 'EUROPEAN IUCN RED LIST BIRDS (2021)'
 'GLOBAL UICN RED LIST (consulta 2022)'
 'GLOBAL UICN RED LIST (LAST ASSESSED)' 'CON_BERN' 'CON_BONN' 'CON_CITES']

In [271]:
rioja = pd.read_excel('./data_raw/aves_rioja_actual.xlsx')
rioja

,Núm. 42 Sábado 18 de febrero de 2023 Sec. I. Pág. 24926,Unnamed: 1,Unnamed: 2
0,NaN,NaN,NaN
1,NaN,NaN,NaN
2,Nombre científico,Nombre común,Categoría del catálogo
3,Accipiter gentilis.,Azor común.,NaN
4,Accipiter nisus.,Gavilán.,NaN
...,...,...,...
207,Tringa totanus.,Archibebe común.,NaN
208,Troglodytes troglodytes.,Chochín común.,NaN
209,Turdus torquatus.,Mirlo capiblanco.,NaN
210,Tyto alba.,Lechuza común.,NaN
211,Upupa epops.,Abubilla.,NaN

In [272]:
rioja = rioja.drop([0, 1], axis=0)
rioja

,Núm. 42 Sábado 18 de febrero de 2023 Sec. I. Pág. 24926,Unnamed: 1,Unnamed: 2
2,Nombre científico,Nombre común,Categoría del catálogo
3,Accipiter gentilis.,Azor común.,NaN
4,Accipiter nisus.,Gavilán.,NaN
5,Acrocephalus arundinaceus.,Carricero tordal.,NaN
6,Acrocephalus paludicola.,Carricerín cejudo.,NaN
...,...,...,...
207,Tringa totanus.,Archibebe común.,NaN
208,Troglodytes troglodytes.,Chochín común.,NaN
209,Turdus torquatus.,Mirlo capiblanco.,NaN
210,Tyto alba.,Lechuza común.,NaN
211,Upupa epops.,Abubilla.,NaN

In [273]:
riojaa = rioja.rename({'Núm.42 Sábado 18 de febrero de 2023 Sec. I. Pág. 24926': 'Nombre científico', 'Unnamed: 1': 'NOMBRE COMÚN', 'Unnamed: 2': 'RIO2'}, axis=1)
riojaa

,Núm. 42 Sábado 18 de febrero de 2023 Sec. I. Pág. 24926,NOMBRE COMÚN,RIO2
2,Nombre científico,Nombre común,Categoría del catálogo
3,Accipiter gentilis.,Azor común.,NaN
4,Accipiter nisus.,Gavilán.,NaN
5,Acrocephalus arundinaceus.,Carricero tordal.,NaN
6,Acrocephalus paludicola.,Carricerín cejudo.,NaN
...,...,...,...
207,Tringa totanus.,Archibebe común.,NaN
208,Troglodytes troglodytes.,Chochín común.,NaN
209,Turdus torquatus.,Mirlo capiblanco.,NaN
210,Tyto alba.,Lechuza común.,NaN
211,Upupa epops.,Abubilla.,NaN

In [274]:
rioja = riojaa.drop([2], axis=0)
rioja

,Núm. 42 Sábado 18 de febrero de 2023 Sec. I. Pág. 24926,NOMBRE COMÚN,RIO2
3,Accipiter gentilis.,Azor común.,NaN
4,Accipiter nisus.,Gavilán.,NaN
5,Acrocephalus arundinaceus.,Carricero tordal.,NaN
6,Acrocephalus paludicola.,Carricerín cejudo.,NaN
7,Acrocephalus schoenobaenus.,Carricerín común.,NaN
...,...,...,...
207,Tringa totanus.,Archibebe común.,NaN
208,Troglodytes troglodytes.,Chochín común.,NaN
209,Turdus torquatus.,Mirlo capiblanco.,NaN
210,Tyto alba.,Lechuza común.,NaN
211,Upupa epops.,Abubilla.,NaN

In [275]:
rioja["NOMBRE COMÚN"].replace({'\.':''}, regex=True, inplace=True)
rioja

,Núm. 42 Sábado 18 de febrero de 2023 Sec. I. Pág. 24926,NOMBRE COMÚN,RIO2
3,Accipiter gentilis.,Azor común,NaN
4,Accipiter nisus.,Gavilán,NaN
5,Acrocephalus arundinaceus.,Carricero tordal,NaN
6,Acrocephalus paludicola.,Carricerín cejudo,NaN
7,Acrocephalus schoenobaenus.,Carricerín común,NaN
...,...,...,...
207,Tringa totanus.,Archibebe común,NaN
208,Troglodytes troglodytes.,Chochín común,NaN
209,Turdus torquatus.,Mirlo capiblanco,NaN
210,Tyto alba.,Lechuza común,NaN
211,Upupa epops.,Abubilla,NaN

In [276]:
rioja = rioja.drop(['Núm. 42                                                          Sábado 18 de febrero de 2023                                        Sec. I.   Pág. 24926'], axis=1)
rioja

          NOMBRE COMÚN RIO2
3           Azor común  NaN
4              Gavilán  NaN
5     Carricero tordal  NaN
6    Carricerín cejudo  NaN
7     Carricerín común  NaN
..                 ...  ...
207    Archibebe común  NaN
208      Chochín común  NaN
209   Mirlo capiblanco  NaN
210      Lechuza común  NaN
211           Abubilla  NaN

[209 rows x 2 columns]

In [277]:
print(rioja.columns.values)

['NOMBRE COMÚN' 'RIO2']

In [278]:
rioja.set_index('NOMBRE COMÚN',inplace=True)
rioja

                  RIO2
NOMBRE COMÚN
Azor común         NaN
Gavilán            NaN
Carricero tordal   NaN
Carricerín cejudo  NaN
Carricerín común   NaN
...                ...
Archibebe común    NaN
Chochín común      NaN
Mirlo capiblanco   NaN
Lechuza común      NaN
Abubilla           NaN

[209 rows x 1 columns]

In [279]:
rioja.dropna(inplace=True)
rioja

                                           RIO2
NOMBRE COMÚN
Buitre negro                        Vulnerable.
Águila-azor perdicera  En peligro de extinción.
Porrón pardo           En peligro de extinción.
Avetoro común          En peligro de extinción.
Chorlito carambolo                  Vulnerable.
Fumarel común          En peligro de extinción.
Cigüeña negra                       Vulnerable.
Aguilucho cenizo                    Vulnerable.
Escribano palustre     En peligro de extinción.
Cernícalo primilla                  Vulnerable.
Quebrantahuesos        En peligro de extinción.
Milano real            En peligro de extinción.
Alimoche común                      Vulnerable.
Águila pescadora                    Vulnerable.
Perdiz pardilla        En peligro de extinción.
Colirrojo real                      Vulnerable.
Ganga ibérica          En peligro de extinción.
Ganga ortega           En peligro de extinción.
Sisón común            En peligro de extinción.

In [280]:
rioja.replace({"Vulnerable.": 'VU', "En peligro de extinción.": 'EN'}, inplace=True)
rioja

                      RIO2
NOMBRE COMÚN
Buitre negro            VU
Águila-azor perdicera   EN
Porrón pardo            EN
Avetoro común           EN
Chorlito carambolo      VU
Fumarel común           EN
Cigüeña negra           VU
Aguilucho cenizo        VU
Escribano palustre      EN
Cernícalo primilla      VU
Quebrantahuesos         EN
Milano real             EN
Alimoche común          VU
Águila pescadora        VU
Perdiz pardilla         EN
Colirrojo real          VU
Ganga ibérica           EN
Ganga ortega            EN
Sisón común             EN

In [282]:
#rioja.drop('Nombre común', axis=0, inplace=True)
#rioja

In [283]:
rioja.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, Buitre negro to Sisón común
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RIO2    19 non-null     object
dtypes: object(1)
memory usage: 860.0+ bytes

In [284]:
aves.set_index('NOMBRE COMÚN',inplace=True)

In [285]:
df_final = pd.concat([aves,rioja],axis=1,sort=False).reset_index()
df_final

,NOMBRE COMÚN,FAMILIA,Especie_Nombre_científico,subespecie,Especie_Castellano,Ordenación_taxonómica,NOMBRE CIENTÍFICO,LR2004 (*Canarias),LISTA ROJA 2021 Invern./Migrat.,LISTA ROJA 2021 Reproductoras (*Canarias),...,RIO,VAL,EUROPEAN IUCN RED LIST BIRDS (2015),EUROPEAN IUCN RED LIST BIRDS (2021),GLOBAL UICN RED LIST (consulta 2022),GLOBAL UICN RED LIST (LAST ASSESSED),CON_BERN,CON_BONN,CON_CITES,RIO2
0,Abejaruco europeo,MEROPIDAE,Merops apiaster,NaN,Abejaruco europeo,490.0,Merops apiaster,NE,NaN,LC,...,NaN,NaN,LC,LC,LC,2016.0,II,II,NaN,NaN
1,Abejero europeo,ACCIPITRIDAE,Pernis apivorus,NaN,Abejero europeo,174.0,Pernis apivorus,LC,NaN,NT,...,NaN,NaN,LC,LC,LC,2021.0,II,II,C1,NaN
2,Abubilla común,UPUPIDAE,Upupa epops,epops,Abubilla común,491.0,Upupa epops,NE,NaN,LC,...,NaN,NaN,LC,LC,LC,2020.0,II,NaN,NaN,NaN
3,Acentor alpino,PRUNELLIDAE,Prunella collaris,collaris,Acentor alpino,784.0,Prunella collaris,NE,NaN,NT,...,NaN,NaN,LC,LC,LC,2016.0,II,NaN,NaN,NaN
4,Acentor común,PRUNELLIDAE,Prunella modularis,"modularis, mabbotti",Acentor común,785.0,Prunella modularis,NE,NaN,LC,...,NaN,NaN,LC,LC,LC,2018.0,II,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,Zorzal alirrojo,TURDIDAE,Turdus iliacus,"coburni, iliacus",Zorzal alirrojo,726.0,Turdus iliacus,NE,DD,NaN,...,NaN,NaN,NT,LC,NT,2016.0,III,NaN,NaN,NaN
380,Zorzal charlo,TURDIDAE,Turdus viscivorus,viscivorus,Zorzal charlo,730.0,Turdus viscivorus,NE,NaN,LC,...,NaN,NaN,LC,LC,LC,2016.0,III,NaN,NaN,NaN
381,Zorzal común,TURDIDAE,Turdus philomelos,"philomelos, clarkei",Zorzal común,728.0,Turdus philomelos,NE,NaN,LC,...,NaN,NaN,LC,LC,LC,2018.0,III,NaN,NaN,NaN
382,Zorzal real,TURDIDAE,Turdus pilaris,NaN,Zorzal real,725.0,Turdus pilaris,NE,DD,NaN,...,NaN,NaN,LC,LC,LC,2016.0,III,NaN,NaN,NaN
383,Águila-azor perdicera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EN

In [286]:
df_final.drop(['RIO'], axis=1, inplace=True)
df_final

,NOMBRE COMÚN,FAMILIA,Especie_Nombre_científico,subespecie,Especie_Castellano,Ordenación_taxonómica,NOMBRE CIENTÍFICO,LR2004 (*Canarias),LISTA ROJA 2021 Invern./Migrat.,LISTA ROJA 2021 Reproductoras (*Canarias),...,NAV,VAL,EUROPEAN IUCN RED LIST BIRDS (2015),EUROPEAN IUCN RED LIST BIRDS (2021),GLOBAL UICN RED LIST (consulta 2022),GLOBAL UICN RED LIST (LAST ASSESSED),CON_BERN,CON_BONN,CON_CITES,RIO2
0,Abejaruco europeo,MEROPIDAE,Merops apiaster,NaN,Abejaruco europeo,490.0,Merops apiaster,NE,NaN,LC,...,NaN,NaN,LC,LC,LC,2016.0,II,II,NaN,NaN
1,Abejero europeo,ACCIPITRIDAE,Pernis apivorus,NaN,Abejero europeo,174.0,Pernis apivorus,LC,NaN,NT,...,DIE,NaN,LC,LC,LC,2021.0,II,II,C1,NaN
2,Abubilla común,UPUPIDAE,Upupa epops,epops,Abubilla común,491.0,Upupa epops,NE,NaN,LC,...,NaN,NaN,LC,LC,LC,2020.0,II,NaN,NaN,NaN
3,Acentor alpino,PRUNELLIDAE,Prunella collaris,collaris,Acentor alpino,784.0,Prunella collaris,NE,NaN,NT,...,DIE,NaN,LC,LC,LC,2016.0,II,NaN,NaN,NaN
4,Acentor común,PRUNELLIDAE,Prunella modularis,"modularis, mabbotti",Acentor común,785.0,Prunella modularis,NE,NaN,LC,...,NaN,NaN,LC,LC,LC,2018.0,II,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,Zorzal alirrojo,TURDIDAE,Turdus iliacus,"coburni, iliacus",Zorzal alirrojo,726.0,Turdus iliacus,NE,DD,NaN,...,NaN,NaN,NT,LC,NT,2016.0,III,NaN,NaN,NaN
380,Zorzal charlo,TURDIDAE,Turdus viscivorus,viscivorus,Zorzal charlo,730.0,Turdus viscivorus,NE,NaN,LC,...,NaN,NaN,LC,LC,LC,2016.0,III,NaN,NaN,NaN
381,Zorzal común,TURDIDAE,Turdus philomelos,"philomelos, clarkei",Zorzal común,728.0,Turdus philomelos,NE,NaN,LC,...,NaN,NaN,LC,LC,LC,2018.0,III,NaN,NaN,NaN
382,Zorzal real,TURDIDAE,Turdus pilaris,NaN,Zorzal real,725.0,Turdus pilaris,NE,DD,NaN,...,NaN,NaN,LC,LC,LC,2016.0,III,NaN,NaN,NaN
383,Águila-azor perdicera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EN

In [ ]:
df_final.rename({"RIO2": 'RIO'}, axis=1, inplace=True)
df_final

,NOMBRE COMÚN,FAMILIA,Especie_Nombre_científico,subespecie,Especie_Castellano,Ordenación_taxonómica,NOMBRE CIENTÍFICO,LR2004 (*Canarias),LISTA ROJA 2021 Invern./Migrat.,LISTA ROJA 2021 Reproductoras (*Canarias),...,NAV,VAL,EUROPEAN IUCN RED LIST BIRDS (2015),EUROPEAN IUCN RED LIST BIRDS (2021),GLOBAL UICN RED LIST (consulta 2022),GLOBAL UICN RED LIST (LAST ASSESSED),CON_BERN,CON_BONN,CON_CITES,RIO
0,Abejaruco europeo,MEROPIDAE,Merops apiaster,NaN,Abejaruco europeo,490.0,Merops apiaster,NE,NaN,LC,...,NaN,NaN,LC,LC,LC,2016.0,II,II,NaN,NaN
1,Abejero europeo,ACCIPITRIDAE,Pernis apivorus,NaN,Abejero europeo,174.0,Pernis apivorus,LC,NaN,NT,...,DIE,NaN,LC,LC,LC,2021.0,II,II,C1,NaN
2,Abubilla común,UPUPIDAE,Upupa epops,epops,Abubilla común,491.0,Upupa epops,NE,NaN,LC,...,NaN,NaN,LC,LC,LC,2020.0,II,NaN,NaN,NaN
3,Acentor alpino,PRUNELLIDAE,Prunella collaris,collaris,Acentor alpino,784.0,Prunella collaris,NE,NaN,NT,...,DIE,NaN,LC,LC,LC,2016.0,II,NaN,NaN,NaN
4,Acentor común,PRUNELLIDAE,Prunella modularis,"modularis, mabbotti",Acentor común,785.0,Prunella modularis,NE,NaN,LC,...,NaN,NaN,LC,LC,LC,2018.0,II,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,Perdiz pardilla.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EN
398,Colirrojo real.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VU
399,Ganga ibérica.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EN
400,Ganga ortega.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EN
401,Sisón común.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EN

In [287]:
df_final = df_final.reindex(columns=['FAMILIA','Especie_Nombre_científico','subespecie','Especie_Castellano',
 'Ordenación_taxonómica', 'NOMBRE COMÚN', 'NOMBRE CIENTÍFICO',
 'LR2004 (*Canarias)', 'LISTA ROJA 2021 Invern./Migrat.',
 'LISTA ROJA 2021 Reproductoras (*Canarias)', 'CEEA y LESRPE', 'D. Aves',
 'AND', 'ARA', 'AST', 'BAL', 'CANA', 'CANT', 'CAT', 'CLM', 'CYL', 'EUSK', 'EXT',
 'GAL', 'MAD', 'MUR', 'NAV', 'RIO', 'VAL', 'EUROPEAN IUCN RED LIST BIRDS (2015)',
 'EUROPEAN IUCN RED LIST BIRDS (2021)',
 'GLOBAL UICN RED LIST (consulta 2022)',
 'GLOBAL UICN RED LIST (LAST ASSESSED)', 'CON_BERN', 'CON_BONN', 'CON_CITES'])
df_final

,FAMILIA,Especie_Nombre_científico,subespecie,Especie_Castellano,Ordenación_taxonómica,NOMBRE COMÚN,NOMBRE CIENTÍFICO,LR2004 (*Canarias),LISTA ROJA 2021 Invern./Migrat.,LISTA ROJA 2021 Reproductoras (*Canarias),...,NAV,RIO,VAL,EUROPEAN IUCN RED LIST BIRDS (2015),EUROPEAN IUCN RED LIST BIRDS (2021),GLOBAL UICN RED LIST (consulta 2022),GLOBAL UICN RED LIST (LAST ASSESSED),CON_BERN,CON_BONN,CON_CITES
0,MEROPIDAE,Merops apiaster,NaN,Abejaruco europeo,490.0,Abejaruco europeo,Merops apiaster,NE,NaN,LC,...,NaN,NaN,NaN,LC,LC,LC,2016.0,II,II,NaN
1,ACCIPITRIDAE,Pernis apivorus,NaN,Abejero europeo,174.0,Abejero europeo,Pernis apivorus,LC,NaN,NT,...,DIE,NaN,NaN,LC,LC,LC,2021.0,II,II,C1
2,UPUPIDAE,Upupa epops,epops,Abubilla común,491.0,Abubilla común,Upupa epops,NE,NaN,LC,...,NaN,NaN,NaN,LC,LC,LC,2020.0,II,NaN,NaN
3,PRUNELLIDAE,Prunella collaris,collaris,Acentor alpino,784.0,Acentor alpino,Prunella collaris,NE,NaN,NT,...,DIE,NaN,NaN,LC,LC,LC,2016.0,II,NaN,NaN
4,PRUNELLIDAE,Prunella modularis,"modularis, mabbotti",Acentor común,785.0,Acentor común,Prunella modularis,NE,NaN,LC,...,NaN,NaN,NaN,LC,LC,LC,2018.0,II,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,TURDIDAE,Turdus iliacus,"coburni, iliacus",Zorzal alirrojo,726.0,Zorzal alirrojo,Turdus iliacus,NE,DD,NaN,...,NaN,NaN,NaN,NT,LC,NT,2016.0,III,NaN,NaN
380,TURDIDAE,Turdus viscivorus,viscivorus,Zorzal charlo,730.0,Zorzal charlo,Turdus viscivorus,NE,NaN,LC,...,NaN,NaN,NaN,LC,LC,LC,2016.0,III,NaN,NaN
381,TURDIDAE,Turdus philomelos,"philomelos, clarkei",Zorzal común,728.0,Zorzal común,Turdus philomelos,NE,NaN,LC,...,NaN,NaN,NaN,LC,LC,LC,2018.0,III,NaN,NaN
382,TURDIDAE,Turdus pilaris,NaN,Zorzal real,725.0,Zorzal real,Turdus pilaris,NE,DD,NaN,...,NaN,NaN,NaN,LC,LC,LC,2016.0,III,NaN,NaN
383,NaN,NaN,NaN,NaN,NaN,Águila-azor perdicera,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [288]:
df_final.RIO =df_final.RIO.fillna(value='No Presente')
df_final

,FAMILIA,Especie_Nombre_científico,subespecie,Especie_Castellano,Ordenación_taxonómica,NOMBRE COMÚN,NOMBRE CIENTÍFICO,LR2004 (*Canarias),LISTA ROJA 2021 Invern./Migrat.,LISTA ROJA 2021 Reproductoras (*Canarias),...,NAV,RIO,VAL,EUROPEAN IUCN RED LIST BIRDS (2015),EUROPEAN IUCN RED LIST BIRDS (2021),GLOBAL UICN RED LIST (consulta 2022),GLOBAL UICN RED LIST (LAST ASSESSED),CON_BERN,CON_BONN,CON_CITES
0,MEROPIDAE,Merops apiaster,NaN,Abejaruco europeo,490.0,Abejaruco europeo,Merops apiaster,NE,NaN,LC,...,NaN,No Presente,NaN,LC,LC,LC,2016.0,II,II,NaN
1,ACCIPITRIDAE,Pernis apivorus,NaN,Abejero europeo,174.0,Abejero europeo,Pernis apivorus,LC,NaN,NT,...,DIE,No Presente,NaN,LC,LC,LC,2021.0,II,II,C1
2,UPUPIDAE,Upupa epops,epops,Abubilla común,491.0,Abubilla común,Upupa epops,NE,NaN,LC,...,NaN,No Presente,NaN,LC,LC,LC,2020.0,II,NaN,NaN
3,PRUNELLIDAE,Prunella collaris,collaris,Acentor alpino,784.0,Acentor alpino,Prunella collaris,NE,NaN,NT,...,DIE,No Presente,NaN,LC,LC,LC,2016.0,II,NaN,NaN
4,PRUNELLIDAE,Prunella modularis,"modularis, mabbotti",Acentor común,785.0,Acentor común,Prunella modularis,NE,NaN,LC,...,NaN,No Presente,NaN,LC,LC,LC,2018.0,II,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,TURDIDAE,Turdus iliacus,"coburni, iliacus",Zorzal alirrojo,726.0,Zorzal alirrojo,Turdus iliacus,NE,DD,NaN,...,NaN,No Presente,NaN,NT,LC,NT,2016.0,III,NaN,NaN
380,TURDIDAE,Turdus viscivorus,viscivorus,Zorzal charlo,730.0,Zorzal charlo,Turdus viscivorus,NE,NaN,LC,...,NaN,No Presente,NaN,LC,LC,LC,2016.0,III,NaN,NaN
381,TURDIDAE,Turdus philomelos,"philomelos, clarkei",Zorzal común,728.0,Zorzal común,Turdus philomelos,NE,NaN,LC,...,NaN,No Presente,NaN,LC,LC,LC,2018.0,III,NaN,NaN
382,TURDIDAE,Turdus pilaris,NaN,Zorzal real,725.0,Zorzal real,Turdus pilaris,NE,DD,NaN,...,NaN,No Presente,NaN,LC,LC,LC,2016.0,III,NaN,NaN
383,NaN,NaN,NaN,NaN,NaN,Águila-azor perdicera,NaN,NaN,NaN,NaN,...,NaN,No Presente,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
display(df_final)

,FAMILIA,Especie_Nombre_científico,subespecie,Especie_Castellano,Ordenación_taxonómica,NOMBRE COMÚN,NOMBRE CIENTÍFICO,LR2004 (*Canarias),LISTA ROJA 2021 Invern./Migrat.,LISTA ROJA 2021 Reproductoras (*Canarias),...,NAV,RIO,VAL,EUROPEAN IUCN RED LIST BIRDS (2015),EUROPEAN IUCN RED LIST BIRDS (2021),GLOBAL UICN RED LIST (consulta 2022),GLOBAL UICN RED LIST (LAST ASSESSED),CON_BERN,CON_BONN,CON_CITES
0,MEROPIDAE,Merops apiaster,NaN,Abejaruco europeo,490.0,Abejaruco europeo,Merops apiaster,NE,NaN,LC,...,NaN,No Presente,NaN,LC,LC,LC,2016.0,II,II,NaN
1,ACCIPITRIDAE,Pernis apivorus,NaN,Abejero europeo,174.0,Abejero europeo,Pernis apivorus,LC,NaN,NT,...,DIE,No Presente,NaN,LC,LC,LC,2021.0,II,II,C1
2,UPUPIDAE,Upupa epops,epops,Abubilla común,491.0,Abubilla común,Upupa epops,NE,NaN,LC,...,NaN,No Presente,NaN,LC,LC,LC,2020.0,II,NaN,NaN
3,PRUNELLIDAE,Prunella collaris,collaris,Acentor alpino,784.0,Acentor alpino,Prunella collaris,NE,NaN,NT,...,DIE,No Presente,NaN,LC,LC,LC,2016.0,II,NaN,NaN
4,PRUNELLIDAE,Prunella modularis,"modularis, mabbotti",Acentor común,785.0,Acentor común,Prunella modularis,NE,NaN,LC,...,NaN,No Presente,NaN,LC,LC,LC,2018.0,II,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,NaN,NaN,NaN,NaN,NaN,Perdiz pardilla.,NaN,NaN,NaN,NaN,...,NaN,EN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398,NaN,NaN,NaN,NaN,NaN,Colirrojo real.,NaN,NaN,NaN,NaN,...,NaN,VU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,NaN,NaN,NaN,NaN,NaN,Ganga ibérica.,NaN,NaN,NaN,NaN,...,NaN,EN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,NaN,NaN,NaN,NaN,NaN,Ganga ortega.,NaN,NaN,NaN,NaN,...,NaN,EN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
401,NaN,NaN,NaN,NaN,NaN,Sisón común.,NaN,NaN,NaN,NaN,...,NaN,EN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
from plotly.subplots import make_subplots
import plotly.graph_objects as go

fig = make_subplots(rows=4, cols=3, shared_yaxes=True)

fig.add_trace(go.Bar(x=aves_final['AND'].unique(), y=(aves_final['AND'].value_counts()),
                    marker=dict(color=[4, 5, 6], coloraxis="coloraxis")),
              1, 1)


fig.add_trace(go.Bar(x=aves_final['ARA'].unique(), y=(aves_final['ARA'].value_counts()),
                    marker=dict(color=[4, 5, 6], coloraxis="coloraxis")),
              1, 2)

fig.add_trace(go.Bar(x=aves_final['AST'].unique(), y=(aves_final['AST'].value_counts()),
                    marker=dict(color=[4, 5, 6], coloraxis="coloraxis")),
              1, 3)

fig.add_trace(go.Bar(x=aves_final['BAL'].unique(), y=(aves_final['BAL'].value_counts()),
                    marker=dict(color=[4, 5, 6], coloraxis="coloraxis")),
              2, 1)


fig.add_trace(go.Bar(x=aves_final['CANA'].unique(), y=(aves_final['CANA'].value_counts()),
                    marker=dict(color=[4, 5, 6], coloraxis="coloraxis")),
              2, 2)


fig.add_trace(go.Bar(x=aves_final['CANT'].unique(), y=(aves_final['CANT'].value_counts()),
                    marker=dict(color=[4, 5, 6], coloraxis="coloraxis")),
              2, 3)

fig.add_trace(go.Bar(x=aves_final['AST'].unique(), y=(aves_final['AST'].value_counts()),
                    marker=dict(color=[4, 5, 6], coloraxis="coloraxis")),
              3, 1)

fig.add_trace(go.Bar(x=aves_final['CAT'].unique(), y=(aves_final['CAT'].value_counts()),
                    marker=dict(color=[4, 5, 6], coloraxis="coloraxis")),
              3, 2)

# 'CLM' 'CYL' 'EUSK' 'EXT'
 #'GAL' 'MAD' 'MUR' 'NAV' 'RIO' 'VAL'

fig.update_layout(coloraxis=dict(colorscale='Bluered_r'), showlegend=False)
fig.show()

In [ ]:
aves_final.AND.value_counts()