In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
df = pd.read_csv("data_raw/Dataset_definitivo_con_geometrias.csv")

In [3]:
df_puntos = df[df["NIVEL AMENAZA"]==1]

In [4]:
aves_ciudades = df_puntos.groupby("Ubicacion")
aves_ciudades

In [5]:
total_aves_ciudad=aves_ciudades.count()

In [6]:
total_aves_ciudad

,Unnamed: 0,NOMBRE COMÚN,NOMBRE CIENTÍFICO,LR2004 (*Canarias),LISTA ROJA 2021 Invern./Migrat.,LISTA ROJA 2021 Reproductoras (*Canarias),CEEA y LESRPE,D. Aves,AND,ARA,...,EUROPEAN IUCN RED LIST BIRDS (2015),EUROPEAN IUCN RED LIST BIRDS (2021),GLOBAL UICN RED LIST (consulta 2022),GLOBAL UICN RED LIST (LAST ASSESSED),CON_BERN,CON_BONN,CON_CITES,Amenaza,index_ciudad,NIVEL AMENAZA
Ubicacion,,,,,,,,,,,,,,,,,,,,,
Andalucía,238,238,238,238,238,238,238,238,238,238,...,238,238,238,238,238,238,238,238,238,238
Aragón,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
Castilla-La Mancha,153,153,153,153,153,153,153,153,153,153,...,153,153,153,153,153,153,153,153,153,153
Cataluña,205,205,205,205,205,205,205,205,205,205,...,205,205,205,205,205,205,205,205,205,205
Comunidad Foral de Navarra,50,50,50,50,50,50,50,50,50,50,...,50,50,50,50,50,50,50,50,50,50
Comunidad Valenciana,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
Comunidad de Madrid,38,38,38,38,38,38,38,38,38,38,...,38,38,38,38,38,38,38,38,38,38
Extremadura,167,167,167,167,167,167,167,167,167,167,...,167,167,167,167,167,167,167,167,167,167
Islas Baleares,184,184,184,184,184,184,184,184,184,184,...,184,184,184,184,184,184,184,184,184,184
Islas Canarias,39,39,39,39,39,39,39,39,39,39,...,39,39,39,39,39,39,39,39,39,39
País Vasco,69,69,69,69,69,69,69,69,69,69,...,69,69,69,69,69,69,69,69,69,69
Principado de Asturias,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
Región de Murcia,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16

In [7]:
print(total_aves_ciudad.columns.values)

['Unnamed: 0' 'NOMBRE COMÚN' 'NOMBRE CIENTÍFICO' 'LR2004 (*Canarias)'
 'LISTA ROJA 2021 Invern./Migrat.'
 'LISTA ROJA 2021 Reproductoras (*Canarias)' 'CEEA y LESRPE' 'D. Aves'
 'AND' 'ARA' 'AST' 'BAL' 'CANA' 'CANT' 'CAT' 'CLM' 'CYL' 'EUSK' 'EXT'
 'GAL' 'MAD' 'MUR' 'NAV' 'RIO' 'VAL' 'EUROPEAN IUCN RED LIST BIRDS (2015)'
 'EUROPEAN IUCN RED LIST BIRDS (2021)'
 'GLOBAL UICN RED LIST (consulta 2022)'
 'GLOBAL UICN RED LIST (LAST ASSESSED)' 'CON_BERN' 'CON_BONN' 'CON_CITES'
 'Amenaza' 'index_ciudad' 'NIVEL AMENAZA']

In [8]:
total_aves_ciudad.drop(['NOMBRE COMÚN','NOMBRE CIENTÍFICO','LR2004 (*Canarias)',
 'LISTA ROJA 2021 Invern./Migrat.',
 'LISTA ROJA 2021 Reproductoras (*Canarias)','CEEA y LESRPE', 'D. Aves',
 'AND', 'ARA', 'AST', 'BAL', 'CANA', 'CANT', 'CAT', 'CLM', 'CYL', 'EUSK', 'EXT',
 'GAL', 'MAD', 'MUR', 'NAV', 'RIO', 'VAL', 'EUROPEAN IUCN RED LIST BIRDS (2015)',
 'EUROPEAN IUCN RED LIST BIRDS (2021)',
 'GLOBAL UICN RED LIST (consulta 2022)',
 'GLOBAL UICN RED LIST (LAST ASSESSED)', 'CON_BERN', 'CON_BONN', 'CON_CITES',
 'Amenaza', 'index_ciudad', 'NIVEL AMENAZA'], axis=1,inplace=True) 
 
total_aves_ciudad

                            Unnamed: 0
Ubicacion
Andalucía                          238
Aragón                              14
Castilla-La Mancha                 153
Cataluña                           205
Comunidad Foral de Navarra          50
Comunidad Valenciana                 6
Comunidad de Madrid                 38
Extremadura                        167
Islas Baleares                     184
Islas Canarias                      39
País Vasco                          69
Principado de Asturias               6
Región de Murcia                    16

In [9]:
total_aves_ciudad.reset_index(inplace=True) # resetear el indice, se convierte el indice por defecto
total_aves_ciudad

                     Ubicacion  Unnamed: 0
0                    Andalucía         238
1                       Aragón          14
2           Castilla-La Mancha         153
3                     Cataluña         205
4   Comunidad Foral de Navarra          50
5         Comunidad Valenciana           6
6          Comunidad de Madrid          38
7                  Extremadura         167
8               Islas Baleares         184
9               Islas Canarias          39
10                  País Vasco          69
11      Principado de Asturias           6
12            Región de Murcia          16

In [10]:
print(total_aves_ciudad.columns.values)

['Ubicacion' 'Unnamed: 0']

In [11]:
total_aves_ciudad.rename(columns={"Unnamed: 0":"TOTAL AVES"},inplace=True)
total_aves_ciudad

                     Ubicacion  TOTAL AVES
0                    Andalucía         238
1                       Aragón          14
2           Castilla-La Mancha         153
3                     Cataluña         205
4   Comunidad Foral de Navarra          50
5         Comunidad Valenciana           6
6          Comunidad de Madrid          38
7                  Extremadura         167
8               Islas Baleares         184
9               Islas Canarias          39
10                  País Vasco          69
11      Principado de Asturias           6
12            Región de Murcia          16

In [12]:
punto = r"ESP/puntos_ciudades_espana.gpkg"
mapapuntos = gpd.read_file(punto)

In [13]:
mapapuntos

,fecha_alta,fecha_baja,rotulo,id_ccaa,id_ine,nombres_f,t_ua2,Ubicacion,geometry
0,2005-12-31,NaN,Sevilla,61,41091,Sevilla,0.0,Andalucía,POINT (-5.99247 37.38620)
1,2005-12-31,NaN,Zaragoza,62,50297,Zaragoza,0.0,Aragón,POINT (-0.87935 41.65645)
2,2005-12-31,NaN,Santander,66,39075,Santander,0.0,Cantabria,POINT (-3.80480 43.46291)
3,2005-12-31,NaN,Toledo,68,45168,Toledo,0.0,Castilla-La Mancha,POINT (-4.02432 39.85714)
4,2005-12-31,NaN,Valladolid,67,47186,Valladolid,1.0,Castilla y León,POINT (-4.72336 41.65229)
5,2005-12-31,NaN,Barcelona,69,08019,Barcelona,0.0,Cataluña,POINT (2.17625 41.38426)
6,2005-12-31,NaN,Melilla,79,52001,Melilla,0.0,Ceuta y Melilla,POINT (-2.95358 35.29506)
7,2005-12-31,NaN,Madrid,72,28079,Madrid,0.0,Comunidad de Madrid,POINT (-3.68761 40.40840)
8,2005-12-31,NaN,Pamplona/Iruña,74,31201,Pamplona/Iruña,0.0,Comunidad Foral de Navarra,POINT (-1.64523 42.81408)
9,2005-12-31,NaN,Valencia,77,46250,Valencia,0.0,Comunidad Valenciana,POINT (-0.37587 39.47113)
10,2005-12-31,NaN,Mérida,70,06083,Mérida,0.0,Extremadura,POINT (-6.34415 38.91738)
11,2005-12-31,NaN,Santiago de Compostela,71,15078,Santiago de Compostela,0.0,Galicia,POINT (-8.54417 42.88022)
12,2005-12-31,NaN,Palma,64,07040,Palma,0.0,Islas Baleares,POINT (2.65171 39.57119)
13,2005-12-31,NaN,Santa Cruz de Tenerife,65,38038,Santa Cruz de Tenerife,NaN,Islas Canarias,POINT (-16.24860 28.46429)
14,2005-12-31,NaN,Logroño,76,26089,Logroño,0.0,La Rioja,POINT (-2.44571 42.46642)
15,2005-12-31,NaN,Vitoria-Gasteiz,75,01059,Vitoria-Gasteiz,1.0,País Vasco,POINT (-2.67282 42.85055)
16,2005-12-31,NaN,Oviedo,63,33044,Oviedo,0.0,Principado de Asturias,POINT (-5.84371 43.36225)
17,2005-12-31,NaN,Murcia,73,30030,Murcia,0.0,Región de Murcia,POINT (-1.12857 37.98438)
18,2005-12-31,NaN,NP,72,28079,Madrid,0.0,NP,POINT (-3.68761 40.40840)

In [14]:
print(mapapuntos.columns.values)

['fecha_alta' 'fecha_baja' 'rotulo' 'id_ccaa' 'id_ine' 'nombres_f' 't_ua2'
 'Ubicacion' 'geometry']

In [15]:
mapapuntos.drop(['fecha_alta', 'fecha_baja', 'rotulo', 'id_ccaa', 'id_ine', 'nombres_f', 't_ua2'],axis=1,inplace=True)
mapapuntos

                     Ubicacion                    geometry
0                    Andalucía   POINT (-5.99247 37.38620)
1                       Aragón   POINT (-0.87935 41.65645)
2                    Cantabria   POINT (-3.80480 43.46291)
3           Castilla-La Mancha   POINT (-4.02432 39.85714)
4              Castilla y León   POINT (-4.72336 41.65229)
5                     Cataluña    POINT (2.17625 41.38426)
6              Ceuta y Melilla   POINT (-2.95358 35.29506)
7          Comunidad de Madrid   POINT (-3.68761 40.40840)
8   Comunidad Foral de Navarra   POINT (-1.64523 42.81408)
9         Comunidad Valenciana   POINT (-0.37587 39.47113)
10                 Extremadura   POINT (-6.34415 38.91738)
11                     Galicia   POINT (-8.54417 42.88022)
12              Islas Baleares    POINT (2.65171 39.57119)
13              Islas Canarias  POINT (-16.24860 28.46429)
14                    La Rioja   POINT (-2.44571 42.46642)
15                  País Vasco   POINT (-2.67282 42.85055)
16      Principado de Asturias   POINT (-5.84371 43.36225)
17            Región de Murcia   POINT (-1.12857 37.98438)
18                          NP   POINT (-3.68761 40.40840)

In [16]:
mapapuntos['lon'] = mapapuntos['geometry'].x
mapapuntos['lat'] = mapapuntos['geometry'].y
mapapuntos.drop(['geometry'], axis=1, inplace=True)
mapapuntos

                     Ubicacion        lon        lat
0                    Andalucía  -5.992474  37.386198
1                       Aragón  -0.879346  41.656446
2                    Cantabria  -3.804801  43.462914
3           Castilla-La Mancha  -4.024317  39.857144
4              Castilla y León  -4.723361  41.652293
5                     Cataluña   2.176246  41.384259
6              Ceuta y Melilla  -2.953579  35.295064
7          Comunidad de Madrid  -3.687613  40.408399
8   Comunidad Foral de Navarra  -1.645226  42.814080
9         Comunidad Valenciana  -0.375866  39.471125
10                 Extremadura  -6.344154  38.917378
11                     Galicia  -8.544166  42.880215
12              Islas Baleares   2.651714  39.571186
13              Islas Canarias -16.248600  28.464288
14                    La Rioja  -2.445710  42.466422
15                  País Vasco  -2.672819  42.850552
16      Principado de Asturias  -5.843715  43.362250
17            Región de Murcia  -1.128568  37.984381
18                          NP  -3.687613  40.408399

In [17]:
total_aves_1= total_aves_ciudad.merge(mapapuntos,how="inner",left_on="Ubicacion",right_on="Ubicacion")
total_aves_1

                     Ubicacion  TOTAL AVES        lon        lat
0                    Andalucía         238  -5.992474  37.386198
1                       Aragón          14  -0.879346  41.656446
2           Castilla-La Mancha         153  -4.024317  39.857144
3                     Cataluña         205   2.176246  41.384259
4   Comunidad Foral de Navarra          50  -1.645226  42.814080
5         Comunidad Valenciana           6  -0.375866  39.471125
6          Comunidad de Madrid          38  -3.687613  40.408399
7                  Extremadura         167  -6.344154  38.917378
8               Islas Baleares         184   2.651714  39.571186
9               Islas Canarias          39 -16.248600  28.464288
10                  País Vasco          69  -2.672819  42.850552
11      Principado de Asturias           6  -5.843715  43.362250
12            Región de Murcia          16  -1.128568  37.984381

In [18]:
#total_aves_1.to_csv("total_aves_1.csv")

In [19]:
df_puntos = df[df["NIVEL AMENAZA"]==0]
aves_ciudades = df_puntos.groupby("Ubicacion")
total_aves_ciudad=aves_ciudades.count()
total_aves_ciudad.drop(['NOMBRE COMÚN','NOMBRE CIENTÍFICO','LR2004 (*Canarias)',
 'LISTA ROJA 2021 Invern./Migrat.',
 'LISTA ROJA 2021 Reproductoras (*Canarias)','CEEA y LESRPE', 'D. Aves',
 'AND', 'ARA', 'AST', 'BAL', 'CANA', 'CANT', 'CAT', 'CLM', 'CYL', 'EUSK', 'EXT',
 'GAL', 'MAD', 'MUR', 'NAV', 'RIO', 'VAL', 'EUROPEAN IUCN RED LIST BIRDS (2015)',
 'EUROPEAN IUCN RED LIST BIRDS (2021)',
 'GLOBAL UICN RED LIST (consulta 2022)',
 'GLOBAL UICN RED LIST (LAST ASSESSED)', 'CON_BERN', 'CON_BONN', 'CON_CITES',
 'Amenaza', 'index_ciudad', 'NIVEL AMENAZA'], axis=1,inplace=True) 
total_aves_ciudad.reset_index(inplace=True)
total_aves_ciudad.rename(columns={"Unnamed: 0":"TOTAL AVES"},inplace=True)
total_aves_0= total_aves_ciudad.merge(mapapuntos,how="inner",left_on="Ubicacion",right_on="Ubicacion")
#total_aves_0.to_csv("total_aves_0.csv")

In [20]:
df_puntos = df[df["NIVEL AMENAZA"]==2]
aves_ciudades = df_puntos.groupby("Ubicacion")
total_aves_ciudad=aves_ciudades.count()
total_aves_ciudad.drop(['NOMBRE COMÚN','NOMBRE CIENTÍFICO','LR2004 (*Canarias)',
 'LISTA ROJA 2021 Invern./Migrat.',
 'LISTA ROJA 2021 Reproductoras (*Canarias)','CEEA y LESRPE', 'D. Aves',
 'AND', 'ARA', 'AST', 'BAL', 'CANA', 'CANT', 'CAT', 'CLM', 'CYL', 'EUSK', 'EXT',
 'GAL', 'MAD', 'MUR', 'NAV', 'RIO', 'VAL', 'EUROPEAN IUCN RED LIST BIRDS (2015)',
 'EUROPEAN IUCN RED LIST BIRDS (2021)',
 'GLOBAL UICN RED LIST (consulta 2022)',
 'GLOBAL UICN RED LIST (LAST ASSESSED)', 'CON_BERN', 'CON_BONN', 'CON_CITES',
 'Amenaza', 'index_ciudad', 'NIVEL AMENAZA'], axis=1,inplace=True) 
total_aves_ciudad.reset_index(inplace=True)
total_aves_ciudad.rename(columns={"Unnamed: 0":"TOTAL AVES"},inplace=True)
total_aves_2= total_aves_ciudad.merge(mapapuntos,how="inner",left_on="Ubicacion",right_on="Ubicacion")
#total_aves_2.to_csv("total_aves_2.csv")

In [21]:
df_puntos = df[df["NIVEL AMENAZA"]==3]
aves_ciudades = df_puntos.groupby("Ubicacion")
total_aves_ciudad=aves_ciudades.count()
total_aves_ciudad.drop(['NOMBRE COMÚN','NOMBRE CIENTÍFICO','LR2004 (*Canarias)',
 'LISTA ROJA 2021 Invern./Migrat.',
 'LISTA ROJA 2021 Reproductoras (*Canarias)','CEEA y LESRPE', 'D. Aves',
 'AND', 'ARA', 'AST', 'BAL', 'CANA', 'CANT', 'CAT', 'CLM', 'CYL', 'EUSK', 'EXT',
 'GAL', 'MAD', 'MUR', 'NAV', 'RIO', 'VAL', 'EUROPEAN IUCN RED LIST BIRDS (2015)',
 'EUROPEAN IUCN RED LIST BIRDS (2021)',
 'GLOBAL UICN RED LIST (consulta 2022)',
 'GLOBAL UICN RED LIST (LAST ASSESSED)', 'CON_BERN', 'CON_BONN', 'CON_CITES',
 'Amenaza', 'index_ciudad', 'NIVEL AMENAZA'], axis=1,inplace=True) 
total_aves_ciudad.reset_index(inplace=True)
total_aves_ciudad.rename(columns={"Unnamed: 0":"TOTAL AVES"},inplace=True)
total_aves_3= total_aves_ciudad.merge(mapapuntos,how="inner",left_on="Ubicacion",right_on="Ubicacion")
#total_aves_3.to_csv("total_aves_3.csv")

In [22]:
df_puntos = df[df["NIVEL AMENAZA"]==4]
aves_ciudades = df_puntos.groupby("Ubicacion")
total_aves_ciudad=aves_ciudades.count()
total_aves_ciudad.drop(['NOMBRE COMÚN','NOMBRE CIENTÍFICO','LR2004 (*Canarias)',
 'LISTA ROJA 2021 Invern./Migrat.',
 'LISTA ROJA 2021 Reproductoras (*Canarias)','CEEA y LESRPE', 'D. Aves',
 'AND', 'ARA', 'AST', 'BAL', 'CANA', 'CANT', 'CAT', 'CLM', 'CYL', 'EUSK', 'EXT',
 'GAL', 'MAD', 'MUR', 'NAV', 'RIO', 'VAL', 'EUROPEAN IUCN RED LIST BIRDS (2015)',
 'EUROPEAN IUCN RED LIST BIRDS (2021)',
 'GLOBAL UICN RED LIST (consulta 2022)',
 'GLOBAL UICN RED LIST (LAST ASSESSED)', 'CON_BERN', 'CON_BONN', 'CON_CITES',
 'Amenaza', 'index_ciudad', 'NIVEL AMENAZA'], axis=1,inplace=True) 
total_aves_ciudad.reset_index(inplace=True)
total_aves_ciudad.rename(columns={"Unnamed: 0":"TOTAL AVES"},inplace=True)
total_aves_4= total_aves_ciudad.merge(mapapuntos,how="inner",left_on="Ubicacion",right_on="Ubicacion")
#total_aves_4.to_csv("total_aves_4.csv")